
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home-EaZ {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-image: url('REPLACE_IMAGE:f0ab620049c3e35247933d96e9fb28b63223ae26');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  width: 100%;
  position: relative;
  align-items: center;
  background-size: 100% 100%;

  .auto-group-waq5-hyw {
    box-sizing: border-box;
    padding: 2.1rem 4rem 3.6rem 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-tqah-ZFT {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .image-2-Fe5 {
        margin: 0.8rem 59.6rem 0rem 0rem;
        width: 21.2rem;
        height: 4.3rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item--3TT {
        margin-right: 5rem;
        font-weight: 400;
        white-space: nowrap;
        flex-shrink: 0;
        cursor: pointer;
        font-size: 3rem;
        line-height: 1.2575;
        color: #ffffff;
        font-family: Gill Sans MT, 'Source Sans Pro';
      }
      .item--1Ho {
        flex-shrink: 0;
        line-height: 1.2575;
        font-family: Gill Sans MT, 'Source Sans Pro';
        font-size: 3rem;
        font-weight: 400;
        color: #ffffff;
        white-space: nowrap;
        margin-right: 7.3rem;
        cursor: pointer;
      }
      .item--UBP {
        font-family: Gill Sans MT, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        cursor: pointer;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #ffffff;
      }
    }
    .line-1-vp5 {
      width: 93.5rem;
      height: 0.3rem;
      background-color: #ffffff;
      flex-shrink: 0;
    }
  }
  .auto-group-f9ad-puT {
    flex-shrink: 0;
    width: 100%;
    height: 102.1rem;
    position: relative;

    .rectangle-1-s73 {
      top: 0;
      background-color: #1a2738;
      width: 144rem;
      height: 67.6rem;
      position: absolute;
      left: 0;
    }
    .item-1800-800-a1T {
      position: absolute;
      top: 29rem;
      font-weight: 400;
      line-height: 1.2575;
      width: 9.6rem;
      left: 96.3rem;
      font-size: 2.5rem;
      color: #ffffff;
      font-family: Gill Sans MT, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.2rem;
    }
    .item-900-nNR {
      width: 3.8rem;
      position: absolute;
      top: 34.6rem;
      font-size: 2.5rem;
      line-height: 1.2575;
      color: #ffffff;
      font-family: Gill Sans MT, 'Source Sans Pro';
      height: 3.2rem;
      left: 96.3rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .item--Atm {
      font-family: Inter, 'Source Sans Pro';
      width: 7.7rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.2125;
      text-align: center;
      color: #ffffff;
      white-space: nowrap;
      height: 1.3rem;
      position: absolute;
      left: 124.2rem;
      top: 19.8rem;
    }
    .item--jKb {
      left: 125.6rem;
      width: 5.1rem;
      position: absolute;
      top: 25rem;
      text-align: center;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      height: 1.3rem;
      white-space: nowrap;
      font-family: Inter, 'Source Sans Pro';
    }
    .pngwing-5-xi9 {
      height: 53.5rem;
      position: absolute;
      left: 83.6rem;
      top: 32.4rem;
      object-fit: cover;
      vertical-align: top;
      width: 77rem;
    }
    .afaffff56a6d986e24bfde8b50b49-1-3Do {
      left: 3.1rem;
      top: 15.3rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 4.9rem;
      width: 52.8rem;
      height: 57.5rem;
      position: absolute;
    }
    .pngwing-4-JQd {
      vertical-align: top;
      width: 37.3rem;
      height: 42.8rem;
      position: absolute;
      left: 1.1rem;
      top: 51.2rem;
      object-fit: cover;
    }
    .pngwing-8-bed {
      left: 22.9rem;
      top: 57.5rem;
      object-fit: cover;
      vertical-align: top;
      width: 37.3rem;
      height: 42.8rem;
      position: absolute;
    }
    .pngwing-9-hSm {
      vertical-align: top;
      width: 37.3rem;
      height: 42.8rem;
      position: absolute;
      left: 39.4rem;
      top: 49.1rem;
      object-fit: cover;
    }
    .pngwing-10-vKX {
      top: 52.6rem;
      object-fit: cover;
      vertical-align: top;
      width: 37.3rem;
      height: 42.8rem;
      position: absolute;
      left: 0;
    }
    .pngwing-7-NBX {
      object-fit: cover;
      vertical-align: top;
      width: 34.4rem;
      height: 37.4rem;
      position: absolute;
      left: 126.2rem;
      top: 56.2rem;
    }
    .pngwing-6-R9o {
      width: 39.3rem;
      height: 52.3rem;
      position: absolute;
      left: 78.7rem;
      top: 49.8rem;
      object-fit: cover;
      vertical-align: top;
    }
    .bottom-JzH {
      width: 144rem;
      height: 14.5rem;
      position: absolute;
      left: 0;
      top: 64.4rem;
      background-color: #000000;
    }
    .crystal-maiden-pSq {
      left: 2.5rem;
      top: 5.1rem;
      font-size: 10rem;
      font-weight: 400;
      line-height: 1.2575;
      width: 61.6rem;
      height: 12.6rem;
      position: absolute;
      color: #ffffff;
      font-family: Gill Sans MT, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item--UGV {
      font-family: Gill Sans MT, 'Source Sans Pro';
      height: 2.6rem;
      top: 3.3rem;
      color: #ffffff;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2575;
      white-space: nowrap;
      width: 9.2rem;
      position: absolute;
      left: 9.6rem;
    }
    .image-1-v8V {
      vertical-align: top;
      width: 4.5rem;
      height: 4.5rem;
      position: absolute;
      left: 4rem;
      top: 2.3rem;
      object-fit: cover;
    }
    .image-6-NWH {
      vertical-align: top;
      width: 4.5rem;
      height: 4.5rem;
      position: absolute;
      left: 97.5rem;
      top: 18.8rem;
      object-fit: cover;
    }
    .rectangle-2-EHb {
      width: 18.8rem;
      height: 2rem;
      position: absolute;
      left: 75.1rem;
      top: 18.4rem;
      background-color: #18e552;
    }
    .rectangle-3-ecD {
      top: 20.4rem;
      background-color: #369de7;
      width: 18.8rem;
      height: 2rem;
      position: absolute;
      left: 75.1rem;
    }
    .item-540-HfB {
      font-family: Gill Sans MT, 'Source Sans Pro';
      position: absolute;
      display: flex;
      font-size: 1.6rem;
      font-weight: 400;
      white-space: nowrap;
      left: 83.3rem;
      top: 18.35rem;
      justify-content: center;
      color: #ffffff;
      width: 2.4rem;
      height: 2.1rem;
      align-items: center;
      line-height: 1.2575;
    }
    .item-267-vCM {
      height: 2.1rem;
      font-size: 1.6rem;
      white-space: nowrap;
      position: absolute;
      left: 83.3rem;
      top: 20.35rem;
      display: flex;
      align-items: center;
      font-weight: 400;
      line-height: 1.2575;
      color: #ffffff;
      width: 2.4rem;
      justify-content: center;
      font-family: Gill Sans MT, 'Source Sans Pro';
    }
    .item-19-kSH {
      display: flex;
      justify-content: center;
      font-size: 1rem;
      white-space: nowrap;
      height: 1.3rem;
      align-items: center;
      left: 89.5rem;
      font-weight: 400;
      top: 18.75rem;
      position: absolute;
      line-height: 1.2575;
      color: #000000;
      font-family: Gill Sans MT, 'Source Sans Pro';
      width: 1.8rem;
    }
    .item-18-aw7 {
      height: 1.3rem;
      display: flex;
      align-items: center;
      left: 89.5rem;
      justify-content: center;
      font-size: 1rem;
      position: absolute;
      font-weight: 400;
      color: #000000;
      font-family: Gill Sans MT, 'Source Sans Pro';
      white-space: nowrap;
      width: 1.8rem;
      top: 20.75rem;
      line-height: 1.2575;
    }
    .created-by-qisorqer-SCd {
      line-height: 1.2575;
      white-space: nowrap;
      width: 6.5rem;
      position: absolute;
      left: 0.7rem;
      font-size: 0.8rem;
      font-family: Gill Sans MT, 'Source Sans Pro';
      height: 1.1rem;
      top: 76.9rem;
      font-weight: 400;
      color: #343030;
    }
    .image-3-VRo {
      object-fit: cover;
      vertical-align: top;
      width: 18.8rem;
      height: 10.6rem;
      position: absolute;
      left: 75.1rem;
      top: 7.8rem;
    }
    .image-4-8jf {
      height: 4.5rem;
      position: absolute;
      left: 97.5rem;
      top: 7.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 4.5rem;
    }
    .image-5-arZ {
      position: absolute;
      left: 97.5rem;
      top: 13.3rem;
      object-fit: cover;
      vertical-align: top;
      width: 4.5rem;
      height: 4.5rem;
    }
    .item-17-22-dK3 {
      white-space: nowrap;
      align-items: baseline;
      height: 2.5rem;
      left: 103.2rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      font-weight: 400;
      color: #ffffff;
      display: flex;
      width: 5rem;
      position: absolute;
      top: 8.8rem;
      font-size: 1.2rem;

      .item-17-22-dK3-sub-0 {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .item-17-22-dK3-sub-1 {
      }
      .item-17-22-dK3-sub-2 {
        font-weight: 400;
        line-height: 1.2125;
        color: #4b4646;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.2rem;
      }
    }
    .item-16-16-KDo {
      width: 4.9rem;
      height: 2.5rem;
      left: 103.2rem;
      top: 14.4rem;
      line-height: 1.2125;
      white-space: nowrap;
      display: flex;
      align-items: baseline;
      position: absolute;
      font-size: 1.2rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';

      .item-16-16-KDo-sub-0 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .item-16-16-KDo-sub-1 {
      }
      .item-16-16-KDo-sub-2 {
        color: #4b4646;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
    .item-16-33-wnu {
      font-weight: 400;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      align-items: baseline;
      width: 5.1rem;
      left: 103.2rem;
      font-size: 1.2rem;
      line-height: 1.2125;
      display: flex;
      height: 2.5rem;
      position: absolute;
      top: 19.9rem;

      .item-16-33-wnu-sub-0 {
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2rem;
      }
      .item-16-33-wnu-sub-1 {
      }
      .item-16-33-wnu-sub-2 {
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #4b4646;
      }
    }
    .item--7DX {
      width: 4.3rem;
      position: absolute;
      text-align: center;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.5rem;
      left: 125.9rem;
      top: 5.4rem;
      font-size: 2rem;
      font-weight: 400;
      color: #ffffff;
    }
    .rectangle-4-xzq {
      box-sizing: border-box;
      filter: blur(0.1rem);
      background-color: #ffffff;
      width: 20.4rem;
      border: solid 0.1rem #ffffff;
      left: 117.9rem;
      top: 10.4rem;
      height: 0.6rem;
      position: absolute;
    }
    .rectangle-7-RNd {
      height: 0.6rem;
      position: absolute;
      top: 21.4rem;
      border: solid 0.1rem #ffffff;
      width: 20.4rem;
      left: 117.9rem;
      box-sizing: border-box;
      filter: blur(0.1rem);
      background-color: #ffffff;
    }
    .rectangle-9-ryj {
      top: 26.7rem;
      filter: blur(0.1rem);
      background-color: #ffffff;
      width: 20.4rem;
      height: 0.6rem;
      border: solid 0.1rem #ffffff;
      box-sizing: border-box;
      position: absolute;
      left: 118rem;
    }
    .rectangle-5-rMT {
      width: 20.4rem;
      top: 16rem;
      box-sizing: border-box;
      background-color: #ffffff;
      height: 0.6rem;
      position: absolute;
      left: 117.9rem;
      border: solid 0.1rem #ffffff;
      filter: blur(0.1rem);
    }
    .rectangle-6-qUH {
      border: solid 0.1rem #ffffff;
      width: 14.1rem;
      left: 124.2rem;
      top: 16rem;
      box-sizing: border-box;
      filter: blur(0.1rem);
      background-color: #000000;
      height: 0.6rem;
      position: absolute;
    }
    .rectangle-8-hFb {
      background-color: #000000;
      width: 6.9rem;
      height: 0.6rem;
      left: 131.4rem;
      top: 21.4rem;
      border: solid 0.1rem #ffffff;
      box-sizing: border-box;
      filter: blur(0.1rem);
      position: absolute;
    }
    .rectangle-10-aCu {
      height: 0.6rem;
      position: absolute;
      left: 130.3rem;
      background-color: #000000;
      width: 8.1rem;
      top: 26.7rem;
      border: solid 0.1rem #ffffff;
      box-sizing: border-box;
      filter: blur(0.1rem);
    }
    .item--eCm {
      top: 8.6rem;
      font-size: 1rem;
      font-weight: 400;
      color: #ffffff;
      width: 5.6rem;
      height: 1.3rem;
      position: absolute;
      left: 125.3rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item--HWd {
      white-space: nowrap;
      height: 1.3rem;
      font-size: 1rem;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-weight: 400;
      width: 1.6rem;
      position: absolute;
      left: 127.3rem;
      top: 14.3rem;
      text-align: center;
    }
    .image-10-EqB {
      top: 28.6rem;
      object-fit: cover;
      vertical-align: top;
      width: 3.2rem;
      height: 3.2rem;
      position: absolute;
      left: 75.1rem;
    }
    .image-11-ffb {
      left: 75.1rem;
      top: 34.6rem;
      object-fit: cover;
      vertical-align: top;
      width: 3.2rem;
      height: 3.2rem;
      position: absolute;
    }
    .image-12-KVF {
      left: 75.1rem;
      top: 40.6rem;
      object-fit: cover;
      vertical-align: top;
      width: 3.2rem;
      height: 3.2rem;
      position: absolute;
    }
    .image-14-R2V {
      vertical-align: top;
      width: 3.2rem;
      height: 3.2rem;
      position: absolute;
      left: 75.1rem;
      top: 46.8rem;
      object-fit: cover;
    }
    .image-15-uyF {
      top: 28.6rem;
      object-fit: cover;
      vertical-align: top;
      width: 3.2rem;
      height: 3.2rem;
      position: absolute;
      left: 90.7rem;
    }
    .image-16-ooj {
      width: 3.2rem;
      height: 3.2rem;
      position: absolute;
      left: 90.7rem;
      top: 34.6rem;
      object-fit: cover;
      vertical-align: top;
    }
    .item-44-50-tqB {
      line-height: 1.2575;
      font-family: Gill Sans MT, 'Source Sans Pro';
      font-weight: 400;
      height: 3.2rem;
      position: absolute;
      left: 80.6rem;
      top: 29rem;
      font-size: 2.5rem;
      color: #ffffff;
      white-space: nowrap;
      width: 5.8rem;
    }
    .item-15-9m7 {
      left: 80.6rem;
      top: 35rem;
      line-height: 1.2575;
      color: #ffffff;
      font-family: Gill Sans MT, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.2rem;
      position: absolute;
      font-size: 2.5rem;
      font-weight: 400;
      width: 3.2rem;
    }
    .item-17-NNy {
      position: absolute;
      font-size: 2.5rem;
      font-weight: 400;
      height: 3.2rem;
      left: 80.6rem;
      top: 40.7rem;
      line-height: 1.2575;
      color: #ffffff;
      font-family: Gill Sans MT, 'Source Sans Pro';
      white-space: nowrap;
      width: 3.2rem;
    }
    .item-280-A3w {
      line-height: 1.2575;
      color: #ffffff;
      width: 3.8rem;
      height: 3.2rem;
      left: 80.6rem;
      font-weight: 400;
      white-space: nowrap;
      position: absolute;
      top: 46.8rem;
      font-size: 2.5rem;
      font-family: Gill Sans MT, 'Source Sans Pro';
    }
  }
}
