
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.skills-3Qh {
  background-position: center;
  background-image: url('REPLACE_IMAGE:f0ab620049c3e35247933d96e9fb28b63223ae26');
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 100%;
  height: 90rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;

  .bottom-Fmf {
    width: 144rem;
    height: 11.5rem;
    position: absolute;
    left: 0;
    top: 78.5rem;
    background-color: #000000;
  }
  .bottom-6XP {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000000;
    width: 144rem;
    height: 11.5rem;
  }
  .image-2-ZA5 {
    width: 21.2rem;
    height: 4.3rem;
    position: absolute;
    left: 4rem;
    top: 2.9rem;
    object-fit: cover;
    vertical-align: top;
  }
  .line-1-DVX {
    position: absolute;
    left: 4rem;
    top: 7.2rem;
    background-color: #ffffff;
    width: 131.7rem;
    height: 0.3rem;
  }
  .item--7qo {
    font-family: Gill Sans MT, 'Source Sans Pro';
    width: 13rem;
    height: 3.8rem;
    cursor: pointer;
    position: absolute;
    font-size: 3rem;
    font-weight: 400;
    color: #ffffff;
    left: 84.8rem;
    top: 2.1rem;
    line-height: 1.2575;
    white-space: nowrap;
  }
  .item--7zD {
    cursor: pointer;
    position: absolute;
    font-weight: 400;
    line-height: 1.2575;
    white-space: nowrap;
    color: #ffffff;
    font-family: Gill Sans MT, 'Source Sans Pro';
    width: 10.7rem;
    height: 3.8rem;
    left: 102.8rem;
    top: 2.1rem;
    font-size: 3rem;
  }
  .item--ASh {
    font-family: Gill Sans MT, 'Source Sans Pro';
    width: 14.8rem;
    height: 3.8rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #ffffff;
    white-space: nowrap;
    position: absolute;
    left: 120.8rem;
    top: 2.1rem;
    font-size: 3rem;
  }
  .rectangle-1-Yy3 {
    position: absolute;
    left: 0;
    top: 11.1rem;
    background-color: #1a2738;
    width: 144rem;
    height: 67.6rem;
  }
  .image-7-DJV {
    left: 5.4rem;
    top: 19.5rem;
    object-fit: cover;
    vertical-align: top;
    width: 12.8rem;
    height: 12.8rem;
    cursor: pointer;
    position: absolute;
  }
  .bottom-qKs {
    width: 144rem;
    height: 14.5rem;
    position: absolute;
    left: 0;
    top: 75.5rem;
    background-color: #000000;
  }
  .line-2-JDT {
    left: 5.4rem;
    top: 33.4rem;
    background-color: #ffffff;
    width: 12.8rem;
    height: 0.1rem;
    position: absolute;
  }
  .line-3-neR {
    position: absolute;
    left: 5.4rem;
    top: 57.5rem;
    background-color: #ffffff;
    width: 12.8rem;
    height: 0.1rem;
  }
  .image-8-57j {
    height: 12.8rem;
    cursor: pointer;
    position: absolute;
    left: 5.4rem;
    top: 43.6rem;
    object-fit: cover;
    vertical-align: top;
    width: 12.8rem;
  }
  .crystalmaidenfrostbite-1-A9B {
    vertical-align: top;
    border-radius: 2rem;
    width: 34.6rem;
    height: 19.5rem;
    position: absolute;
    left: 22.8rem;
    top: 40.3rem;
    object-fit: cover;
  }
  .crystalmaidencrystalnova-1-doT {
    height: 19.4rem;
    position: absolute;
    left: 22.8rem;
    top: 16.2rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 2rem;
    width: 34.5rem;
  }
  .frostbite-100-6--ia1 {
    width: 34.7rem;
    height: 17.7rem;
    position: absolute;
    top: 43.1rem;
    color: #ffffff;
    font-family: Gill Sans MT, 'Source Sans Pro';
    left: 59.5rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2575;

    .frostbite-100-6--ia1-sub-0 {
    }
    .frostbite-100-6--ia1-sub-1 {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #757575;
      font-family: Gill Sans MT, 'Source Sans Pro';
    }
  }
  .crystal-nova--1N5 {
    font-weight: 400;
    line-height: 1.2575;
    font-family: Gill Sans MT, 'Source Sans Pro';
    height: 15.1rem;
    top: 19rem;
    font-size: 2rem;
    color: #ffffff;
    width: 34.5rem;
    position: absolute;
    left: 60.4rem;

    .crystal-nova--1N5-sub-0 {
    }
    .crystal-nova--1N5-sub-1 {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #757575;
      font-family: Gill Sans MT, 'Source Sans Pro';
    }
  }
  .item-4250-200-300-400-500-9ed {
    font-family: Gill Sans MT, 'Source Sans Pro';
    height: 16.1rem;
    left: 98.3rem;
    color: #757575;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2575;
    width: 40.3rem;
    position: absolute;
    top: 21.6rem;
  }
  .item-1000-15-20-25-30-100-6000-FUh {
    font-weight: 400;
    line-height: 1.2575;
    width: 25.4rem;
    position: absolute;
    left: 98.3rem;
    font-size: 1.6rem;
    height: 34.3rem;
    top: 45.7rem;
    color: #757575;
    font-family: Gill Sans MT, 'Source Sans Pro';
  }
  .item--Xj3 {
    width: 7rem;
    height: 3.7rem;
    color: #ffffff;
    white-space: nowrap;
    font-weight: 400;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    cursor: pointer;
    position: absolute;
    left: 70rem;
    top: 69.4rem;
    font-size: 3rem;
  }
}
